body{
    margin: 0;
    

}
#background{
    background-image: url( c1d129a5705544305fa0a80c11f9adfb.jpg);
     height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
    
}
h1{
        font-family: "Sour Gummy", sans-serif;
    font-weight: 230;
    font-size: 50px;
      margin-block: 10px;
    text-align-last: center;
        color: #002147;

}
p{
        font-family: "Sour Gummy", sans-serif;
    font-weight: 290;
    font-size: 18px;
      margin-block: 17px;
    text-align-last: center;
    color: #002147;
}
p{
    text-align: left
}
.contenedor{
    display: flex;
    justify-content: center;
}
.imagen{
width: 470px;
}
.boton-redireccion{
    background-color: cadetblue;
    border: none;
    color:#fff;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 12px;
    font-family: "Sour Gummy", sans-serif;
    
    
    
}